<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE>登录页</TITLE>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<STYLE type="text/css">
body{background:url("__PUBLIC__/Admin/img/bg.png")}
A: link{COLOR: #ffffff;FONT-SIZE: 12px;TEXT-DECORATION: none}
A: visited{COLOR: #ffffff;FONT-SIZE: 12px;TEXT-DECORATION: none}
A: hover{COLOR: #ffffff}
BODY input{MARGIN-TOP: 2px;FONT: 12px "微软雅黑";}
TD{LINE-HEIGHT: 15px;FONT-SIZE: 12px}
</STYLE>
</HEAD>
<BODY>
<DIV align=center><BR><BR><BR><BR><BR>
<TABLE id=__01 border=0 cellSpacing=1 cellPadding=0 width=668 align=center>
  <TBODY>
  <TR>
    <TD>
      <TABLE border=0 cellSpacing=1 cellPadding=0 width="667"  height="408">
        <TBODY>
        <TR>
          <TD>
            <P><BR><BR><BR><BR><BR><BR><BR><BR></P>
            <P>　</P>
            <P>　</P>
            <P>　</P>
            <TABLE border=0 cellSpacing=0 cellPadding=2 width=660>
              <FORM method=post name=form1 action="__ACTION__">
              <TBODY>
              <TR>
                <TD height=25 width="37%">
                  <DIV align=right>帐号：</DIV></TD>
                <TD width="63%">
                  <DIV align=left><INPUT style="WIDTH: 200px" id=username 
                  size=25 name=username>&#160; 账号：admin</DIV></TD></TR>
              <TR>
                <TD height=25>
                  <DIV align=right>密码：</DIV></TD>
                <TD>
                  <DIV align=left><INPUT style="WIDTH: 200px" id=password 
                  size=25 type=password name=password>&#160;密码：admin</DIV></TD></TR>
              <TR>
                <TD height=37>
                  <DIV align=left></DIV></TD>
                <TD>
                  <DIV align=left><P><INPUT value=登陆进入系统 type=submit name=B1></P></DIV>
				</TD>
			</TR>
			</FORM>
		</TBODY>
	</TABLE>
</TD>
</TR>
</TBODY>
</TABLE>
</TD>
</TR>
</TBODY>
</TABLE>
</DIV>
</BODY>
</HTML>