<extend name="Public:father" />
<block name="right">
<script language="JavaScript">

        
</script>
        <div class="span9">
		  <div class="row-fluid">
			<div class="page-header">
				<h1>用户<small>添加新用户</small></h1>
			</div>
			<form class="form-horizontal" id='userform' method="post" action="{#:U('User/add')#}">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="role">用户名</label>
						<div class="controls">
							<input type="text" class="input-xlarge" name="username" id="username" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="description">密码</label>
						<div class="controls">
							<input type="password" class="input-xlarge" name="password" id="password" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="description">确认密码</label>
						<div class="controls">
							<input type="password" class="input-xlarge" name="repassword" id="repassword" />
						</div>
					</div>
					<div class="control-group">
						 <div class="alert alert-error" style="display:none;">
						    <button type="button" class="close" data-dismiss="alert">&times;</button>
						    <div id="result">
							
							</div>
 					   </div>
					</div>
					<div class="form-actions"><input type="hidden" name="id" value="">
						<input type="submit" class="btn btn-success btn-large" value="提交" /> <a class="btn" href="#" onclick="javascript:$('#userform').resetForm();">Cancel</a>
					</div>					
				</fieldset>
			</form>
		  </div>
        </div>
       
      </block>