<extend name="Public:father" />
<block name="right">

<div class="span9">
		  <div class="row-fluid">
			<div class="page-header">
				<h1>用户 <small>用户管理</small></h1>
			</div>
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<th>ID</th>
						<th>用户名</th>
						<th>添加时间</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				<?php print_r($user);?>
				<volist name="list" id="vo">
				<tr class="list-users">
					<td>{#$vo.id#}</td>
					<td>{#$vo.username#}</td>
					<td>{#$vo.times|date="Y-m-d H:i:s",####}</td>
					<td data="{#$vo.id#}" class='status'>{#$vo.status|get_status_title#}</td>
					<td><if condition="$vo['id'] eq 1">默认帐号<else />
						<div class="btn-group" style="visibility:inherit">
							<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">操作 <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<!-- <li><a href="#"><i class="icon-pencil"></i> 编辑</a></li> -->
								<li><a href="{#:U('manage_del?id='.$vo['id'])#}"><i class="icon-trash"></i> 删除</a></li>
								<if condition="$user['user_id'] eq 1">
								<li><a href="{#:U('manage_del?id='.$vo['id'])#}"><i class="icon-pencil"></i> 修改密码</a></li>
								</if>
								<!-- <li><a href="#"><i class="icon-user"></i> Details</a></li>
								<li class="nav-header">Permissions</li>
								<li><a href="#"><i class="icon-lock"></i> Make <strong>Admin</strong></a></li>
								<li><a href="#"><i class="icon-lock"></i> Make <strong>Moderator</strong></a></li>
								<li><a href="#"><i class="icon-lock"></i> Make <strong>User</strong></a></li> -->
							</ul>
						</div>
						</if>
					</td>
				</tr>
				</volist>
				
				</tbody>
			</table>
			<div class="pagination">{#$_page#}
			</div>
			<a href="{#:U('User/add')#}" class="btn btn-success">添加新用户</a>
		  </div>
        </div>

        </block>
        <block name="script">
		 <script type="text/javascript">
		$(document).ready(function(){
			
		   //	$('#status').click(function(){
		   	$('.status').click(function(){
		   		//$.get("__CONTROLLER__/status/model/1/status/"+$(this).attr('data')+"/id/"+$(this).parent().attr('data'),function(data){
		   			var infoid=$(this).attr('data');
		   			$.get("{#:U(CONTROLLER_NAME.'/status/')#}?model=1&status="+$(this).children('span').attr('data')+"&id="+infoid,function(data){
		   			if(data.status==1){
		   				if($('.status[data='+infoid+']').children('span').attr('data')==1){
		   					$('.status[data='+infoid+']').children('span').attr('class','label label-success').attr('data','0').html('启用');
		   				}else{
		   					$('.status[data='+infoid+']').children('span').attr('class','label label-important').attr('data','1').html('禁用');
		   				}
		   			}
		   			alert(data.info);
		   			
		   		});
		   		
		   	});
			
		});
	</script>
</block>
           	

