<extend name="Public:father" />
<block name="right">
<script language="JavaScript">

        
</script>
        <div class="span9">
		  <div class="row-fluid">
			<div class="page-header">
				<h1>用户<small>添加用户行为</small></h1>
			</div>
			<form class="form-horizontal" id='userform' method="post" action="">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="role">行为名称</label>
						<div class="controls">
							<input type="text" class="input-xlarge" name="title" id="title" value="{#$info.title#}" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="description">行为标识</label>
						<div class="controls">
							<input type="text" class="input-xlarge" name="name" id="name" value="{#$info.name#}" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="description">行为规则</label>
						<div class="controls">
							<input type="text" class="input-xlarge" name="condition" id="condition" value="{#$info.condition#}" />
						</div>
					</div>
					<div class="control-group">
						 <div class="alert alert-error" style="display:none;">
						    <button type="button" class="close" data-dismiss="alert">&times;</button>
						    <div id="result">
							
							</div>
 					   </div>
					</div>
					<div class="form-actions"><input type="hidden" name="id" value="">
						<input type="submit" class="btn btn-success btn-large" value="提交" /> <a class="btn" href="#" onclick="javascript:$('#userform').resetForm();">Cancel</a>
					</div>					
				</fieldset>
			</form>
		  </div>
        </div>
       
      </block>