<extend name="Public:father" />
<block name="right">
<script language="JavaScript">
    $(function(){
        	
        	 $('#form1').ajaxForm({
        		
        		beforeSubmit: checkForm,
        		success:  complete,
        		dataType: 'json'
        	});
        	
        	function checkForm(){
        		/* if(''==$.trim($('#oldpassword').val())){
        			$('#result').html('信息填写不完整').show();
        			return false;
        		} */
        	}
        	function complete(data){
        		if(data.status==1){
        			$(".alert").attr("class","alert alert-success").show();
        			$('#result').html(data.info);
        			$('#form1').resetForm();
        		}else{
        			$(".alert").show();
        			$('#result').html(data.info);
        		}
        		
        	}
        	
        	
        })
        
        </script>
        <div class="span9">
		  <div class="row-fluid">
			<div class="page-header">
				<h1>用户<small>修改密码</small></h1>
			</div>
			<form class="form-horizontal" id='form1' method="post" action="{#:U('User/submitPassword')#}">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="role">原密码</label>
						<div class="controls">
							<input type="password" class="input-xlarge" name="oldpassword" id="oldpassword" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="description">新密码</label>
						<div class="controls">
							<input type="password" class="input-xlarge" name="password" id="password" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="description">确认密码</label>
						<div class="controls">
							<input type="password" class="input-xlarge" name="repassword" id="repassword" />
						</div>
					</div>
					<div class="control-group">
                        <div class="alert alert-error" style="display:none;">
						    <button type="button" class="close" data-dismiss="alert">&times;</button>
						    <div id="result">
							
							</div>
 					   </div>
					</div>
					<div class="form-actions"><input type="hidden" name="ajax" value="1">
						<input type="submit" class="btn btn-success btn-large" value="提交" /> <a class="btn" href="#" onclick="javascript:$('#form1').resetForm();">Cancel</a>
					</div>					
				</fieldset>
			</form>
		  </div>
        </div>
       
      </block>